.sapMWizardStepTitle{
    display: none!important;
}

.sapMWizard .sapMWizardStepContainer {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.sapThemeText-asColor > span {
    color: #0A6ED1 !important;
}

.sapMGT {
    border-radius: 0em
}

.sapMGTPressActive {
    background: #cf214a !important;
}

.sapMGT:hover{
    background: #ccacb4 !important;
}

.sapMGT:hover .sapMImageContentImageIcon.sapUiIcon{
    color: #110a0c !important;
}

.sapMGT:focus{
    background: #ccacb4 !important;
    /* border: none;
    outline-style: none; */
}

.smallTiles{
    width: 9.17rem !important;
    height: 9.17rem !important;
}

.sapMImageContentImageIcon.sapUiIcon{
    font-size: 4rem;
}

.smallTiles .sapMImageContentImageIcon.sapUiIcon{
    font-size: 3rem !important;
}

.sapMImageContent {
   width: auto !important;
}

/* .sapMTileCntContent{
    align-items: center;
} */

.sapMImageContentImageIcon {
    display: flex;
    bottom: 0;
    max-height: 3.5rem;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    position: inherit;
}

.sapMTextLineClamp{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sapMGTHdrContent {
    height: 3rem;
}