.sapMWizardStepTitle{
    display: none!important;
}

.sapMWizard .sapMWizardStepContainer {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.sapThemeText-asColor > span {
    color: #0A6ED1 !important;
}

.tileIconSize{
    size: 3em
}

.sapMGT {
    border-radius: 0em
}

.sapMGT:hover{
    background: #fe0037 !important;
}

.smallTiles{
    width: 9.17rem !important;
    height: 9.17rem !important;
}